Google[[:space:]]Hacking[[:space:]]for[[:space:]]Penetration[[:space:]]Testers[[:space:]]-[[:space:]]Johnny[[:space:]]Long[[:space:]]&[[:space:]]Bill[[:space:]]Gardner[[:space:]]&[[:space:]]Justin[[:space:]]Brown.pdf filter=lfs diff=lfs merge=lfs -text
Linux[[:space:]]Shell[[:space:]]Scripting[[:space:]]Cookbook.pdf filter=lfs diff=lfs merge=lfs -text
Metasploit-The[[:space:]]Penetration[[:space:]]Tester[[:space:]]s[[:space:]]Guide.pdf filter=lfs diff=lfs merge=lfs -text
Network[[:space:]]Security[[:space:]]Monitoring.pdf filter=lfs diff=lfs merge=lfs -text
Red[[:space:]]Team[[:space:]]How[[:space:]]to[[:space:]]Succeed[[:space:]]by[[:space:]]Thinking[[:space:]]Like[[:space:]]The[[:space:]]Enemy.pdf filter=lfs diff=lfs merge=lfs -text
rtfm-red-team-field-manual.pdf filter=lfs diff=lfs merge=lfs -text
Art[[:space:]]of[[:space:]]Memory[[:space:]]Forensics.pdf filter=lfs diff=lfs merge=lfs -text
Attacking[[:space:]]Network[[:space:]]Protocols_-A-James-Forshaw.pdf filter=lfs diff=lfs merge=lfs -text
Gray[[:space:]]Hat[[:space:]]Hacking[[:space:]]The[[:space:]]Ethical[[:space:]]Hacker's[[:space:]]Handbook,[[:space:]]Fourth[[:space:]]Edition.pdf filter=lfs diff=lfs merge=lfs -text
HTTP[[:space:]]The[[:space:]]Definitive[[:space:]]Guide.pdf filter=lfs diff=lfs merge=lfs -text
Networking[[:space:]]All-In-One[[:space:]]for[[:space:]]Dummies[[:space:]]-[[:space:]]Doug[[:space:]]Lowe.pdf filter=lfs diff=lfs merge=lfs -text
PoC[[:space:]]or[[:space:]]GTFO.pdf filter=lfs diff=lfs merge=lfs -text
Advanced[[:space:]]Penetration[[:space:]]Testing.pdf filter=lfs diff=lfs merge=lfs -text
Advanced[[:space:]]Persistent[[:space:]]Threat[[:space:]]Hacking,[[:space:]]The[[:space:]]Art[[:space:]]&[[:space:]]Science.pdf filter=lfs diff=lfs merge=lfs -text
PraxisblickeBetriebswirtschaft3.pdf filter=lfs diff=lfs merge=lfs -text
programming-blueteam filter=lfs diff=lfs merge=lfs -text
study-guides filter=lfs diff=lfs merge=lfs -text
C[[:space:]]Programming[[:space:]]Lanuguage.pdf filter=lfs diff=lfs merge=lfs -text
Kali-Linux-Revealed-1st-edition.pdf filter=lfs diff=lfs merge=lfs -text
Hacker[[:space:]]Playbook[[:space:]]3.pdf filter=lfs diff=lfs merge=lfs -text
Hacking[[:space:]]the[[:space:]]Xbox.pdf filter=lfs diff=lfs merge=lfs -text
Python[[:space:]]for[[:space:]]Hackers.pdf filter=lfs diff=lfs merge=lfs -text
shellcoders_handbook_discovering_and_exploiting_security_holes.pdf filter=lfs diff=lfs merge=lfs -text
Android_Security_Intern__An_In-Depth_Guide_to_Android_s_Security_Architecture.pdf filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Hacking.pdf filter=lfs diff=lfs merge=lfs -text
Computer[[:space:]]Networking[[:space:]]-[[:space:]]A[[:space:]]Top-Down[[:space:]]Approach.pdf filter=lfs diff=lfs merge=lfs -text
iOS[[:space:]]Application[[:space:]]Security.pdf filter=lfs diff=lfs merge=lfs -text
Kevin_Mitnick[[:space:]]-.The.Art.of.Intrusion.The.Real.Stories.Behind.the.Exploits.of.Hackers.Intruders.and.Deceivers.Feb.2005.ISBN0764569597.pdf filter=lfs diff=lfs merge=lfs -text
Serious[[:space:]]Cryptography[[:space:]]A[[:space:]]Practical[[:space:]]Introduction[[:space:]]to[[:space:]]Modern[[:space:]]Encryption[[:space:]](2).pdf filter=lfs diff=lfs merge=lfs -text
Hacking[[:space:]]Android.pdf filter=lfs diff=lfs merge=lfs -text
Hacking[[:space:]]Web[[:space:]]Apps.pdf filter=lfs diff=lfs merge=lfs -text
Foundations[[:space:]]of[[:space:]]Python[[:space:]]Network[[:space:]]Programming[[:space:]](3rd[[:space:]]ed.)[[:space:]][Rhodes[[:space:]]&[[:space:]]Goerzen[[:space:]]2014-10-20].pdf filter=lfs diff=lfs merge=lfs -text
From[[:space:]]Hacking[[:space:]]to[[:space:]]Report[[:space:]]Writing.pdf filter=lfs diff=lfs merge=lfs -text
IT[[:space:]]Disaster[[:space:]]Response.pdf filter=lfs diff=lfs merge=lfs -text
Operating[[:space:]]Systems.pdf filter=lfs diff=lfs merge=lfs -text
PGP[[:space:]]and[[:space:]]GPG[[:space:]]Email[[:space:]]for[[:space:]]the[[:space:]]Practical[[:space:]]Paranoid.pdf filter=lfs diff=lfs merge=lfs -text
Computer[[:space:]]Forensics[[:space:]]with[[:space:]]FTK.pdf filter=lfs diff=lfs merge=lfs -text
Designing[[:space:]]BSD[[:space:]]Rootkits.pdf filter=lfs diff=lfs merge=lfs -text
H1_Vuln_List.pdf filter=lfs diff=lfs merge=lfs -text
Kali_Linux_Cookbook.pdf filter=lfs diff=lfs merge=lfs -text
Kevin_Mitnick_-_The_Art_of_Deception_(Plus_Banned_First_Chapter).pdf filter=lfs diff=lfs merge=lfs -text
Penetration[[:space:]]Testing[[:space:]]A[[:space:]]Hands-On[[:space:]]Introduction[[:space:]]to[[:space:]]Hacking.pdf filter=lfs diff=lfs merge=lfs -text
Securing[[:space:]]Scada[[:space:]]Systems.pdf filter=lfs diff=lfs merge=lfs -text
Assembly[[:space:]]Language[[:space:]]for[[:space:]]x86[[:space:]]Processors.pdf filter=lfs diff=lfs merge=lfs -text
Bug[[:space:]]Hunter_s[[:space:]]Diary.pdf filter=lfs diff=lfs merge=lfs -text
Learning_PHP__MySQL___JavaScript_With_jQuery__CSS___HTML5__4th_Edition.pdf filter=lfs diff=lfs merge=lfs -text
Network[[:space:]]Forensics[[:space:]]2012.1.pdf filter=lfs diff=lfs merge=lfs -text
nmap_network_scanning.pdf filter=lfs diff=lfs merge=lfs -text
Practical_Malware_Analysis.pdf filter=lfs diff=lfs merge=lfs -text
Practical[[:space:]]Reverse[[:space:]]Engineering_[[:space:]]X86,[[:space:]]X64,[[:space:]]ARM,[[:space:]]Wi[[:space:]]Bruce[[:space:]]Dang[[:space:]]_[[:space:]]Alexandre[[:space:]]Gazet[[:space:]]_[[:space:]]Elias[[:space:]]Bachaalany.pdf filter=lfs diff=lfs merge=lfs -text
Gray[[:space:]]Hat[[:space:]]C\#.pdf filter=lfs diff=lfs merge=lfs -text
Gray[[:space:]]Hat[[:space:]]Python.pdf filter=lfs diff=lfs merge=lfs -text
IPv6[[:space:]]Fundamentals[[:space:]]-[[:space:]]A[[:space:]]Straightforward[[:space:]]Approach.pdf filter=lfs diff=lfs merge=lfs -text
Kali[[:space:]]Linux[[:space:]]CTF[[:space:]]Blueprints.pdf filter=lfs diff=lfs merge=lfs -text
Kevin_Mitnick[[:space:]]-[[:space:]]The[[:space:]]Art[[:space:]]of[[:space:]]Invisibility[[:space:]]2017.pdf filter=lfs diff=lfs merge=lfs -text
malwaredatascience.pdf filter=lfs diff=lfs merge=lfs -text
OpenVPN[[:space:]]Cookbook,[[:space:]]2nd[[:space:]]Edition.pdf filter=lfs diff=lfs merge=lfs -text
Practical[[:space:]]Reverse[[:space:]]Engineering_[[:space:]]X86,[[:space:]]X64,[[:space:]]ARM,[[:space:]]Wi[[:space:]]Bruce[[:space:]]Dang[[:space:]]_[[:space:]]Alexandre[[:space:]]Gazet[[:space:]]_[[:space:]]Elias[[:space:]]Bachaalany[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
CEH[[:space:]]V9_[[:space:]]Certified[[:space:]]Ethical[[:space:]]Hacker[[:space:]]Version[[:space:]]9[[:space:]]Study[[:space:]]Guide[[:space:]]-[[:space:]]Oriyano.pdf filter=lfs diff=lfs merge=lfs -text
Hacking_The_Art_Of_Exploitation_2nd_Edition.pdf filter=lfs diff=lfs merge=lfs -text
RootkitsandBootkits.pdf filter=lfs diff=lfs merge=lfs -text
Automate_the_Boring_Stuff_with_Python_Pr.pdf filter=lfs diff=lfs merge=lfs -text
Hacking[[:space:]]Web[[:space:]]Intelligence_[[:space:]]Open[[:space:]]Source[[:space:]]Intelligence[[:space:]]and[[:space:]]Wets[[:space:]]and[[:space:]]Techniques[[:space:]]-[[:space:]]Sudhanshu[[:space:]]Chauhan[[:space:]]&[[:space:]]Nutan[[:space:]]Kumar[[:space:]]Panda.pdf filter=lfs diff=lfs merge=lfs -text
Insider-Threat-Program-eBook.pdf filter=lfs diff=lfs merge=lfs -text
Malware[[:space:]]Analyst's[[:space:]]Cookbook.pdf filter=lfs diff=lfs merge=lfs -text
Building[[:space:]]Virtual[[:space:]]Pentesting[[:space:]]Labs[[:space:]]for[[:space:]]Advanced[[:space:]]Penetration[[:space:]]Testing[[:space:]](Fri).pdf filter=lfs diff=lfs merge=lfs -text
CCNA[[:space:]]Certification[[:space:]]-[[:space:]]All-In-One.pdf filter=lfs diff=lfs merge=lfs -text
NLP_[[:space:]]Neuro[[:space:]]linguistic[[:space:]]programming,[[:space:]]the[[:space:]]essential[[:space:]]guide.pdf filter=lfs diff=lfs merge=lfs -text
Assembly[[:space:]]Language[[:space:]]Step-By-Step[[:space:]]-[[:space:]]Programming[[:space:]]with[[:space:]]Linux,[[:space:]]3rd[[:space:]]edition[[:space:]](Wiley,[[:space:]]2009,[[:space:]]0470497025).pdf filter=lfs diff=lfs merge=lfs -text
Learning[[:space:]]Linux[[:space:]]Binary[[:space:]]Analysis.pdf filter=lfs diff=lfs merge=lfs -text
